accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
annotated-doc==0.0.4
anyio==4.13.0
attrs==26.1.0
backoff==2.2.1
blinker==1.9.0
branca==0.8.2
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
datasets==4.8.4
decorator==5.2.1
dill==0.4.1
distro==1.9.0
evaluate==0.4.6
filelock==3.20.3
Flask==3.1.2
flask-cors==6.0.2
Flask-Simple-GeoIP==0.2.4
folium==0.20.0
fonttools==4.61.0
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
geocoder==1.38.1
geopandas==1.1.1
greenlet==3.3.2
gunicorn==21.2.0
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
idna==3.11
ipaddress==1.0.23
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
jsonpickle==4.1.1
kiwisolver==1.4.9
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
networks==0.3.7
networkx==3.6.1
numpy==2.3.5
optuna==4.8.0
osmnx==2.0.7
packaging==25.0
pandas==2.3.3
pillow==12.0.0
portalocker==3.2.0
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
pyarrow==23.0.1
Pygments==2.19.2
pyogrio==0.12.1
pyparsing==3.2.5
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
ratelim==0.1.6
regex==2026.2.28
requests==2.32.5
rich==14.3.3
rtree==1.4.1
sacrebleu==2.6.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
sentencepiece==0.2.1
shapely==2.1.2
shellingham==1.5.4
simple-geoip==0.1.1
six==1.17.0
SQLAlchemy==2.0.48
sympy==1.14.0
tabulate==0.10.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
transformers==5.3.0
typer==0.24.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.1
utils==1.0.2
Werkzeug==3.1.4
xxhash==3.6.0
xyzservices==2025.11.0
yarl==1.23.0
